<div class="row">
    <div class="col-md-12 main-screen-container">
    	<div class="col-md-6 user-info">
		   <div class="user-image"><img style="width:50px;height:50px" src="images/user-image.jpg"></img></div>
		   <div class="user-details">
			<p>This is a splash screen and you can redirect to following options</p>
		   </div>	
		</div>
		<div class="col-md-6 user-info">
        <div class="btn-group" style="text-align:center"><a href="#/buy" class="btn btn-primary" role="button">Buy</a></div>
		<div class="btn-group" style="text-align:center"><a href="#/settings" class="btn btn-primary" role="button">Settings</a></div>
		<div class="btn-group" style="text-align:center"><a href="#/play" class="btn btn-primary" role="button">Play</a></div>		
	    <div class="btn-group" style="text-align:center"><a href="#/statistics" class="btn btn-primary" role="button">Statistics</a></div>		
	    </div>
	</div>	
</div>