<div class="row">
    <div class="col-md-12 splash-screen-container">
        <p>This is a splash screen and you can redirect to following options</p>
    	<div class="btn-group" style="text-align:center"><button type="button" class="btn btn-default" ng-click="$parent.redirectToPage('login')">Log In</button></div>
		<div class="btn-group" style="text-align:center"><button type="button" class="btn btn-default" ng-click="$parent.redirectToPage('signup')">Sign Up</button></div>
		<div class="btn-group" style="text-align:center"><button type="button" class="btn btn-default" ng-click="$parent.redirectToPage('continueSplashScreen')">Continue</button></div>
	</div>	
</div>