<div class="row">
    <div class="col-md-12 splash-screen-container">
        <p>This is a splash screen and you can redirect to following options</p>
    	<div class="btn-group" style="text-align:center"><a href="#/login" class="btn btn-primary" role="button">Log In</a></div>
		<div class="btn-group" style="text-align:center"><a href="#/signup" class="btn btn-primary" role="button">Sign Up</a></div>
		<div class="btn-group" style="text-align:center"><a href="#/main" class="btn btn-primary" role="button">Continue</a></div>
	</div>	
</div>